header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: left;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 2px;
  margin-left: 8px; 
  color: black;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: black;
  background-color: rgb(102, 102, 255);
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}
/*======================================Body================*/
.jumbotron
{
	height: 800px;
  background-image: url('https://media2.popsugar-assets.com/files/2016/02/08/898/n/1922398/4c2124bfd07afeca_heart-shaped-pizza-2016.xxxlarge_2x.jpg');
	color: white;
  text-shadow: #000000 2px 2px 2px;
}

#map-container
{
    height: 300px;     
	border: 3px solid #000000;
}
#contact
{
	/*background-color: #F00000;*/
	font-family: Arial;

}
/*==================================footer==================*/
img
{	height: 50px;
	width: 50px;	
}
