body {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  height: 10px;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  /*justify-content: flex-end;*/
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-item: center;
  background-image: url('https://media2.popsugar-assets.com/files/2016/02/08/898/n/1922398/4c2124bfd07afeca_heart-shaped-pizza-2016.xxxlarge_2x.jpg');
  background-size: cover;
  font-color: black;

  height: 800px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


#Store
{
	font-size: 56px;
	color: white;
}

#mainPage
{
	font-size: 42px;
	font-family: Palatino, 'Palatino Linotype', serif;
	color: white;
	text-decoration: none;
}

#foot 
{
	font-size: 12px;
}

.commandButton
{
	color: black;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #f;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #f;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;

}

.btn.btn-primary {
  border-radius: 2px;
  border: 2px;
  margin-left: 8px; 
  color: black;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: black;
  background-color: rgb(102, 102, 255);
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


p {
	font-size: 24px;
}

#listitems {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	 text-align: center;
}

.searchListItem{
	
	  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(149, 165, 166);
    /* RGBa with 0.6 opacity rgb(52, 152, 219)*/
    background-color: rgba(149, 165, 166, 0.2);	
}

.Searcher {
	display: inline;
	padding: 6px 320px 8px 8px;
	margin-top: 20px;
	margin-left: 0px;
 	text-align: left;
	float: center;
	
}

.equipmentStyle
{
	display:block;
	
	background: #24C6DC; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #24C6DC , #514A9D);
	*/
	 background-image: url('https://media2.popsugar-assets.com/files/2016/02/08/898/n/1922398/4c2124bfd07afeca_heart-shaped-pizza-2016.xxxlarge_2x.jpg');
	/*background-color: rgb(218,190,206); 
	background-color: #ffffff;*/
	border-radius: 3px;
	text-decoration: none;
	margin-bottom: 10px;
	padding-bottom: 400px;
	height: 800px;
}

/*

.equipmentStyle:hover {
  background: #C04848; 
background: -webkit-linear-gradient(to left, #C04848 , #480048); 
background: linear-gradient(to left, #C04848 , #480048)
}

*/


.rentButton 
{
	flex: left;
	float: right;
	padding: 20px 20px 20px 20px;
	
}

#ordersFieldset {
	  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(149, 165, 166);
    /* RGBa with 0.6 opacity rgb(52, 152, 219)*/
    background-color: rgba(149, 165, 166, 0.2);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	display: block;
	padding-top: 20px;
	border-radius: 10px;
	text-shadow: #000000 1px 1px 1px;
	font-family: 'Oswald',Verdana, Arial, Helvetica, sans-serif;
}

#legend {
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: #000000 1px 1px 1px;
	font-size: 25px;
	background-color: rgba(149, 165, 166, 0.2);
	border: 1px solid #bdc3c7;
	border-radius: 3px;
	padding: 3px 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Oswald',Verdana, Arial, Helvetica, sans-serif;
}

#statFieldset {
	  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(149, 165, 166);
    /* RGBa with 0.6 opacity rgb(52, 152, 219)*/
    background-color: rgba(149, 165, 166, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	display: inline;
	border: 1px solid #bdc3c7;
	padding: 20px;
	border-radius: 10px;
	text-shadow: #000000 1px 1px 1px;
	font-family: 'Oswald',Verdana, Arial, Helvetica, sans-serif;
}

#incomestat {
	
	color: white;
	text-shadow: #000000 1px 1px 1px;
	font-size: 25px;
	border-radius: 3px;
	font-family: 'Oswald',Verdana, Arial, Helvetica, sans-serif;
}
#navStat{
	background-color: white;
}

#map-container
{
    height: 300px;     
	border: 3px solid #000000;
}
#contact
{
	/*background-color: #F00000;*/
	font-family: Arial;

}
/*==================================footer==================*/
img
{	height: 50px;
	width: 50px;	
}
section div h1
{
	font-size: 50px;
}
#footBrand
{
	align-item: right;
}